<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Sass</title>
    <link rel="stylesheet" href="../dist/styles.css">
</head>
<body>
    <div class="container">
        <h1>Exemplo Sass</h1>
        <div class="box-divisiorias">
            <div class="box-divisioria-1">
                <p>
                    <b>paragrafo div 1 - </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat sollicitudin turpis, vitae pellentesque metus accumsan vel. 
                    Donec mattis ut ipsum id mattis. Curabitur non aliquam tellus. Donec a ligula eu purus convallis feugiat. Donec lobortis euismod ipsum quis tincidunt. 
                    Donec feugiat id urna non faucibus. Nulla rhoncus, tellus at sollicitudin pulvinar, felis arcu auctor leo, in pretium velit nunc ut diam. Aliquam erat volutpat.
                    Mauris varius nibh in metus dapibus, vitae suscipit nulla lacinia. Curabitur nec sapien nulla. Duis vel metus ac leo sagittis volutpat. Nam vitae posuere diam. 
                    Proin tempor tempus risus at pellentesque.

                </p>
            </div>
            <div class="box-divisioria-2">
                <p>
                    <b>paragrafo div 2 - </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat sollicitudin turpis, vitae pellentesque metus accumsan vel. 
                    Donec mattis ut ipsum id mattis. Curabitur non aliquam tellus. Donec a ligula eu purus convallis feugiat. Donec lobortis euismod ipsum quis tincidunt. 
                    Donec feugiat id urna non faucibus. Nulla rhoncus, tellus at sollicitudin pulvinar, felis arcu auctor leo, in pretium velit nunc ut diam. Aliquam erat volutpat.
                    Mauris varius nibh in metus dapibus, vitae suscipit nulla lacinia. Curabitur nec sapien nulla. Duis vel metus ac leo sagittis volutpat. Nam vitae posuere diam. 
                    Proin tempor tempus risus at pellentesque.

                </p>
            </div>
            <div class="box-divisioria-3">
                <p>
                    <b>paragrafo div 3 - </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat sollicitudin turpis, vitae pellentesque metus accumsan vel. 
                    Donec mattis ut ipsum id mattis. Curabitur non aliquam tellus. Donec a ligula eu purus convallis feugiat. Donec lobortis euismod ipsum quis tincidunt. 
                    Donec feugiat id urna non faucibus. Nulla rhoncus, tellus at sollicitudin pulvinar, felis arcu auctor leo, in pretium velit nunc ut diam. Aliquam erat volutpat.
                    Mauris varius nibh in metus dapibus, vitae suscipit nulla lacinia. Curabitur nec sapien nulla. Duis vel metus ac leo sagittis volutpat. Nam vitae posuere diam. 
                    Proin tempor tempus risus at pellentesque.

                </p>
            </div>
        </div>

        <div class="rodape">
            <p>Lorem Ipsum</p>
            <div class="rodape-rotas">
                <div class="rodape-link">
                    <a href="/home">Home</a>
                </div>
                <div class="rodape-link">
                    <a href="/contato">Contato</a>    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>